*, *:before, *:after {
    box-sizing: border-box;
    outline: none;

    :focus {
        outline: none;
    }

}

body, h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    img {
        border: 0;
    }
}