//размеры щрифта
$font-size-base: 16px;

// Базовые цвета

$black: #000000;
$black-light: #0C0C0C;
$dark: #2D2D2D;
$white: #FFFFFF;
$gray: #646464;
$gray-light: #E5E5E5;
$gray-lighter: #D5D5D5;
$gray-dark: #999999;
$violet: #7B2FBD;
$violet-darken: #6C11C9;
$violet-light: rgba(123, 47, 189, 0.1);
$green: #00C388;
$green-light: rgba(0, 195, 136, 0.1);
$background: #F6F6F6;
$pink: #FF48A5;
$orange: #FF773C;
$gray-darken: rgba(12, 12, 12, 0.5);
$gold: #FF800C;

