*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none; }
  * :focus, *:before :focus, *:after :focus {
    outline: none; }

body, h1, h2, h3, h4, h5, h6, p, ul {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }
  a img {
    border: 0; }

@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/openSans/OpenSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/openSans/OpenSans-BoldItalic.woff") format("woff");
  font-weight: 700;
  font-style: italic; }

@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/openSans/OpenSans-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal; }

@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/openSans/OpenSans-ExtraBoldItalic.woff") format("woff");
  font-weight: 800;
  font-style: italic; }

@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/openSans/OpenSans-Italic.woff") format("woff");
  font-weight: 400;
  font-style: italic; }

@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/openSans/OpenSans-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/openSans/OpenSans-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic; }

@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/openSans/OpenSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/openSans/OpenSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/openSans/OpenSans-SemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic; }

.icon--plus {
  width: 22px;
  height: 22px;
  position: absolute;
  top: 0px;
  left: 0;
  stroke: #8B8B8B; }

body {
  line-height: 1.42;
  font-family: 'openSans', Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #000000; }

.container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 1420px;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 30px;
  margin: auto; }

.content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.title--h1 {
  margin-bottom: 6px;
  font-family: 'openSans', Helvetica, sans-serif;
  font-weight: 700;
  font-size: 2.25rem;
  color: #0C0C0C;
  line-height: 3.6875rem; }

.title--h2 {
  margin-bottom: 6px;
  font-family: 'openSans', Helvetica, sans-serif;
  font-weight: 400;
  font-size: 2.25rem;
  color: #000000;
  line-height: 3.0625rem; }

.section {
  margin-bottom: 71px; }

.section__desc {
  margin-bottom: 30px; }

.table__container {
  overflow-x: auto;
  margin-bottom: 41px; }

.table {
  width: 100%;
  text-align: center;
  border-collapse: collapse; }

.table__data {
  padding: 14px 0 13px;
  border: 1px solid rgba(12, 12, 12, 0.25); }

.table__data-title {
  padding: 6px 0;
  color: #8B8B8B;
  background-color: #E5E5E5; }
  .table__data-title:first-child {
    border-left: 1px solid rgba(12, 12, 12, 0.25); }
  .table__data-title:last-child {
    border-right: 1px solid rgba(12, 12, 12, 0.25); }

.table__data-btn {
  padding: 19px 0; }

.table__data-img {
  max-width: 433px;
  width: 100%;
  height: auto;
  margin: auto;
  margin-bottom: 100px; }

.table__data:first-child {
  max-width: 187px; }

.table__data:nth-child(even) {
  background-color: rgba(123, 47, 189, 0.1); }
  .table__data:nth-child(even).table__data-img--violet {
    position: relative;
    background-color: #FFFFFF; }
    .table__data:nth-child(even).table__data-img--violet::after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba(123, 47, 189, 0.1);
      content: ""; }

.table__data:last-child {
  background-color: rgba(0, 195, 136, 0.1); }
  .table__data:last-child.table__data-img--green {
    position: relative;
    background-color: #FFFFFF; }
    .table__data:last-child.table__data-img--green::after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba(0, 195, 136, 0.1);
      content: ""; }

.table__data--gray {
  color: #8B8B8B;
  background-color: #E5E5E5; }

.btn {
  padding: 9px 76px;
  color: #FFFFFF;
  font-family: 'openSans', Helvetica, sans-serif;
  font-weight: 400;
  font-size: 1rem;
  text-transform: uppercase;
  line-height: 1.375rem;
  border: none;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  cursor: pointer; }

.btn--violet {
  background-color: #7B2FBD; }

.btn--green {
  background-color: #00C388; }

.border-bottom--violet {
  padding-bottom: 5px;
  margin-bottom: 39px;
  position: relative; }
  .border-bottom--violet::after {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 3px;
    background-color: #7B2FBD;
    content: ""; }

.invoices {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  list-style: none;
  font-family: 'openSans', Helvetica, sans-serif;
  font-weight: 400;
  font-size: 1.125rem;
  color: #000000;
  line-height: 1.5625rem; }

.invoices__item {
  padding: 0 15px; }

.invoices__block {
  width: 171px;
  height: 250px;
  margin-bottom: 15px;
  border: 1px solid #000000; }

.versions {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 20px;
  margin-bottom: 25px; }

.versions__item {
  -webkit-flex-basis: 50%;
      -ms-flex-preferred-size: 50%;
          flex-basis: 50%; }

.versions__btn {
  width: 100%;
  padding: 15px;
  position: relative;
  border: 1px solid #8B8B8B;
  color: #8B8B8B;
  text-transform: uppercase;
  background-color: #FFFFFF;
  font-family: 'openSans', Helvetica, sans-serif;
  font-weight: 600;
  font-size: 0.8125rem;
  line-height: 1.125rem; }
  .versions__btn.active {
    border: 1px solid #7B2FBD;
    color: #000000; }
    .versions__btn.active::after {
      width: 44px;
      height: 20px;
      position: absolute;
      top: 100%;
      left: 50%;
      -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
              transform: translateX(-50%);
      background: url(img/arrow-bottom-violet.svg) no-repeat;
      content: ""; }

.banner-width {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 46px;
  color: #8B8B8B;
  font-family: 'openSans', Helvetica, sans-serif;
  font-weight: 300;
  font-size: 0.8125rem;
  line-height: 1.125rem; }

.banner-width__text {
  padding: 5px 0; }

.banner-width__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  list-style: none; }

.banner-width__link {
  display: inline-block;
  color: #000000;
  padding: 5px 30px; }
  .banner-width__link.active {
    border: 2px dashed #7B2FBD; }

.inner-container {
  max-width: 860px;
  width: 100%;
  margin: auto; }

.carousel {
  height: 275px;
  margin-bottom: 24px;
  position: relative;
  border: 1px dashed rgba(12, 12, 12, 0.25); }

.carousel-wrapper {
  width: 100%;
  max-width: 860px;
  margin: auto; }

.load--btn {
  padding: 4px 0;
  padding-left: 30px;
  position: absolute;
  top: 28px;
  left: 31px;
  color: #8B8B8B;
  font-family: 'openSans', Helvetica, sans-serif;
  font-weight: 300;
  font-size: 0.625rem;
  line-height: 0.875rem;
  border: none;
  background-color: transparent; }

.load--btn--black {
  color: #000000; }
  .load--btn--black svg {
    stroke: #000000; }

.carousel__nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 0 40px;
  position: absolute;
  bottom: 12px;
  left: 50%;
  list-style: none;
  color: #FFFFFF;
  font-family: 'openSans', Helvetica, sans-serif;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 0.875rem;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #000000; }

.carousel__nav-item {
  padding: 3px 5px; }
  .carousel__nav-item.active {
    color: #00C388; }

.carousel__btns {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 0 54px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%); }

.carousel__btn {
  width: 20px;
  height: 49px; }

.blocks {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }

.nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 29px;
  -webkit-flex-basis: 25.5%;
      -ms-flex-preferred-size: 25.5%;
          flex-basis: 25.5%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.nav__list {
  margin-bottom: 105px;
  list-style: none;
  color: #8B8B8B;
  font-family: 'openSans', Helvetica, sans-serif;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 0.875rem; }

.nav__item {
  position: relative;
  padding: 8px 0;
  padding-right: 25px;
  border-top: 1px solid #8B8B8B; }
  .nav__item svg {
    position: absolute;
    top: 50%;
    right: 12.5px;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%); }

.nav__item-icon {
  width: 11px;
  height: 5.5px; }

.nav__sections {
  list-style: none; }

.nav__sections-item {
  padding: 11px;
  margin-bottom: 4px;
  position: relative;
  text-align: center;
  color: #2D2D2D;
  font-family: Tahoma, sans-serif;
  font-size: 0.8125rem;
  line-height: 1rem;
  text-transform: uppercase;
  border: 1px dashed #000000; }

.nav__sections-icon {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  right: 10px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%); }

.ux-blocks {
  width: 75.5%; }

.load__banner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.load__banner-item {
  -webkit-flex-basis: 50%;
      -ms-flex-preferred-size: 50%;
          flex-basis: 50%;
  padding: 0 0px 12px 12px;
  color: #8B8B8B; }
  .load__banner-item:nth-child(odd) {
    padding-left: 0; }

.load__banner-inner {
  position: relative;
  height: 246px;
  border: 1px dashed #000000; }

.header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 37px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.header__nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 10px 0; }

.header__burger-btn {
  border: none;
  background-color: transparent;
  cursor: pointer; }

.header__burger-icon {
  width: 30px;
  height: 25px; }

.header__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 0; }

.header__link {
  padding: 10px 17px;
  position: relative;
  color: #000000;
  font-family: 'openSans', Helvetica, sans-serif;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.5625rem; }
  .header__link:after, .header__link.active::after {
    display: none;
    position: absolute;
    top: 100%;
    right: 17px;
    left: 17px;
    border-bottom: 1.44px solid #7B2FBD;
    content: ""; }
  .header__link:hover::after, .header__link.active::after {
    display: block; }

.header__instruct {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 20px;
  padding-left: 0; }

.header__instruct-link {
  padding-right: 25px;
  position: relative;
  color: #7B2FBD;
  font-family: 'openSans', Helvetica, sans-serif;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.5625rem; }
  .header__instruct-link::after {
    width: 18px;
    height: 18px;
    position: absolute;
    top: 4px;
    right: 0;
    background: url(img/play.svg) no-repeat;
    content: ""; }

.header__play-icon {
  max-width: 18px;
  max-height: 18px;
  stroke-width: 1; }

.btn--white {
  padding: 10px 24px;
  color: #7B2FBD;
  font-family: 'openSans', Helvetica, sans-serif;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.375rem;
  text-transform: uppercase;
  border: 2px solid #7B2FBD;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  background-color: #FFFFFF;
  cursor: pointer; }
  .btn--white:hover {
    color: #FFFFFF;
    background-color: #7B2FBD;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }

.slide {
  width: 100%;
  max-width: 1024px;
  position: relative;
  padding: 20px 0;
  overflow: hidden; }

.slide__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%; }

.slide__img-item {
  padding-right: 20px; }
  .slide__img-item:last-child {
    padding-left: 0; }

.slide__img-wrapper {
  width: 180px;
  height: 240px;
  background-color: #E5E5E5; }

.slide__img {
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  -o-object-fit: contain;
     object-fit: contain; }

.slide__btn {
  width: 25px;
  height: 50px;
  margin: auto;
  padding: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  border: none;
  background-color: #FFFFFF;
  cursor: pointer; }

.slide__btn--left {
  left: 10;
  -webkit-border-top-right-radius: 25px;
          border-top-right-radius: 25px;
  -webkit-border-bottom-right-radius: 25px;
          border-bottom-right-radius: 25px; }

.slide__btn--right {
  right: 0;
  -webkit-border-top-left-radius: 25px;
          border-top-left-radius: 25px;
  -webkit-border-bottom-left-radius: 25px;
          border-bottom-left-radius: 25px; }

.slide__btn-icon {
  width: 10px;
  height: 16px;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0; }

.slide__btn-icon--left {
  left: 0; }

.slide__btn-icon--right {
  right: 0; }

.select {
  display: inline-block;
  position: relative;
  color: #2D2D2D;
  font-family: 'openSans', Helvetica, sans-serif;
  font-weight: 300;
  font-size: 0.9375rem;
  line-height: 1.25rem; }
  .select.drop .select__drop-list {
    display: block; }

.select__active {
  padding: 6px 8px;
  border: 1px solid #D5D5D5;
  cursor: pointer; }

.select__btn {
  width: 11px;
  height: 5.5px; }

.select__drop-list {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  background-color: #FFFFFF;
  border: 1px solid #D5D5D5;
  z-index: 1; }

.select__drop-item {
  padding: 6px 8px;
  cursor: pointer; }

.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  width: 300px;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
  font-family: Helvetica, Arial, sans-serif;
}

.modal-header h3 {
  margin-top: 0;
  color: #42b983;
}

.modal-body {
  margin: 20px 0;
}

.modal-default-button {
  float: right;
}

/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.table-container {
  /* overflow: auto; */
}

.history {
  display: table;
  width: 100%;
  max-width: 1153px;
  min-width: 560px;
  text-align: left;
  border-collapse: separate;
  border-spacing: 0px 20px;
}

.history__row {
  display: table-row;
}

.history__head {
  display: table-header-group;
  color: #8B8B8B;
  font-family: 'openSans', Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.25rem;
}

.history__row {
  color: #000000;
  font-family: 'openSans', Helvetica, sans-serif;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.25rem;
}

.history__head-item,
.history__cell {
  display: table-cell;
  padding-right: 20px;
}

.history__head-item:first-child,
.history__cell:first-child {
  padding-left: 4%;
}

.history__head-item:last-child,
.history__cell:last-child {
  padding-right: 4%;
}

.history__cell {
  padding: 29px 0;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
}

.history__cell:first-child {
  border-left: 1px solid #000000;
}

.history__cell:last-child {
  border-right: 1px solid #000000;
}

.history__cell--moderation {
  color: #8B8B8B;
}

.history__cell--complete {
  color: #00C388;
}

.history__cell--denied {
  color: #F20D0D;
}

.history__cell--denied span {
  display: inline-block;
  border-bottom: 1px dashed #F20D0D;
}


.drop-file__wrapper {
  /* max-width: 460px;
  width: 100%; */
  position: relative;
  border-radius: 5px;
}

.drop-file__header {
  text-align: left;
  color: #000000;
  font-family: 'openSans', Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.25rem;
}

.drop-file__body {
  text-align: left;
  color: #8B8B8B;
  font-family: 'openSans', Helvetica, sans-serif;
  font-weight: 400;
  font-size: 0.8rem;
}

.drop-file__btn {
  display: inline-block;
  padding: 5px;
  color: #7B2FBD;
  font-family: 'openSans', Helvetica, sans-serif;
  font-weight: 600;
  font-size: 0.8rem;
  text-transform: uppercase;
  border: 1px solid #7B2FBD;
  border-radius: 4px;
  background-color: #FFFFFF;
  cursor: pointer;
}

.drop-file__input {
  display: none;
}

.drop-file__close {
  width: 30px;
  height: 30px;
  position: absolute;
  top: -10px;
  right: -10px;
  border: 2px solid #7B2FBD;
  border-radius: 50%;
  background-color: #ffffff;
  cursor: pointer;
}

.drop-file__close::after {
  display: block;
  width: 15px;
  height: 2px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background-color: #7B2FBD;
  transform: rotate(45deg);
  content: "";
}

.drop-file__close::before {
  display: block;
  width: 15px;
  height: 2px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background-color: #7B2FBD;
  transform: rotate(-45deg);
  content: "";
}

.drop-file__area {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 320px;
  width: 100%;
  height: 100px;
  margin-bottom: 25px;
  border: 1px dashed rgba(12, 12, 12, 0.25);
  border-radius: 10px;
  color: rgba(12, 12, 12, 0.25);
  font-family: 'openSans', Helvetica, sans-serif;
  font-weight: 600;
  font-size: 0.8rem;
}

