
<template>
  <div class="block">
    <h1>Деятельность агенства</h1>
    <p>Дополнительное профессиональное образование
      Организация и проведение мероприятий
      повышения квалификации для сферы
      гостеприимства:
      <br>• Курсы
      <br>• Тренинги
      <br>• Семинары
      <br>• Вебинары </p>
    <p>На мероприятиях/курсах работникам будут
      освежать уже имеющиеся знания/умения +
      рассказывать обо всём новом, что пришло в их
      профессию.</p>
    <p>А по прохождении (окончании) наших
      «мероприятий) будут получать юридически
      полноценный документ, подтверждающий
      квалификацию работников.</p>
    <h1>Целевая аудитория</h1>
    <p>Работники сферы
      гостеприимства,
      к которой относятся: 
      <br>• Гостиницы
      <br>• Санатории
      <br>• Дома отдыха
      <br>• Лагеря
      <br>• Туристические центры </p>
    <p>Целевой аудиторией
      могут быть:
      <br>• Группы горничных 
      <br>• Среднее управленческое звено 
      <br>• Топовые руководители </p>
    <p> Соответственно разный возраст и социальное
      положение. </p>
    <h1> Концепция </h1>
    <p> Real Skills помогает
      погрузиться в суть профессии и
      воплотить свои мечты. </p>
    <p> Аудитория приходит имея базовое
      представление профессии,
      а педагоги агенства помогают
      найти новые уровни понимания,
      и более глубокие слои знаний,
      которые и отличают настоящих
      профессионалов. </p> 
    <p> Графика наглядно демонстрирует
      пользу, которую приносит
      компания. </p>
    <p> Атрибуты индустрии
      гостеприимства идущие слоями
      демонстрируют суть концепции -
      глубокое погружение в
      профессию. </p>
  </div>
</template>
<script>
export default {
  name: "About_",
  data() {
    return {
    };
  }
};
</script>

<style lang="scss" scoped>
.block{
  margin: 2%;
}

p {
  font-family: "Roboto";
  font-size: 26px;
  text-align: left;
}
</style>
