<template>

  <div>
    <div class="flip-card"  v-for="(n, i)  in news" :key="i">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <img :src="n.img" class="img_card"/>
          <div class="text_card">{{n.text_short}}</div>
        </div>
        <div class="flip-card-back">
          <h1>{{n.text_short}}</h1>
          <p>{{n.text}}</p>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: "News",
  data() {
    return {
      news: [
        {
          img: require("@/assets/img/logo.png"),
          text_short: `text short1`,
          text: `text text text 111`
        },
        {
          img: require("@/assets/img/logo.png"),
          text_short: `text short2`,
           text: `text text text 222`
        },
         {
          img: require("@/assets/img/logo.png"),
          text_short: `text short1`,
          text: `text text text 111`
        },
        {
          img: require("@/assets/img/logo.png"),
          text_short: `text short2`,
           text: `text text text 222`
        },
         {
          img: require("@/assets/img/logo.png"),
          text_short: `text short1`,
          text: `text text text 111`
        },
        {
          img: require("@/assets/img/logo.png"),
          text_short: `text short2`,
           text: `text text text 222`
        },
      ]
    };
  }
};
</script>

<style lang="scss" scoped>
/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
display: inline-block; 
  background-color: transparent;
  width: 20%;
  height: 300px;
  margin: 5%;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
  border: 1px solid rgb(255, 255, 255); 
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color:  rgb(204, 196, 230);
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: rgb(53, 11, 190);
  color: black;
  transform: rotateY(180deg);
      font-size: 100%;
  font-family: 'Roboto';
  height: 100%;
}
.img_card{
  width: 100%;
  height: 70%;
}
.text_card{
  width: 100%;
    font-size: 100%;
  font-family: 'Roboto';
  background-color: rgb(204, 196, 230);
}
</style>
