<template>
  <div>
    <div class="main_block">
      <div class="block">
        <p class="title">
          <img :src="logo" class="logo" />
          <b>«Центр развития профессиональных компетенций»</b>
          <br />
        </p>
      </div>
      <ul class="menu">
        <li v-for="(m, i)  in menu" :key="i" @click="showTable(i)">
          <a>{{m.name}}</a>
          <ul class="submenu">
            <li v-for="(sub, j) in m.subMenu" :key="j" @click="selectSubMenu(i, j)">
              <a>{{sub}}</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <Main class="Slider" v-if="isShow.name == 'Главная'" />

    <About :SubMenu="subMenu.subMenu" v-if="isShow.name == 'О нас'" />
    <Programm :SubMenu="subMenu.subMenu" v-if="isShow.name == 'Программы'" />
    <Organizations v-if="isShow.name == 'Для организаций'" />
    <Licenses v-if="isShow.name == 'Лицензии'" />
    <Organizations v-if="isShow.name == 'Вопросы и ответы'" />
    <Contacts  v-if="isShow.name == 'Контакты'" />
  </div>
</template>

<script>
// @ is an alias to /src
import Programm from "@/components/Programm.vue";
import Licenses from "@/components/Licenses";
import Organizations from "@/components/Organizations";
import About from "@/components/About";
import Questions from "@/components/Questions";
import Main from "@/components/Main";
import Сontacts from "@/components/DataCont";
import axios from "axios";
import { backendURL } from "@/main";

export default {
  name: "home",
  components: {
    Programm,
    Licenses,
    Organizations,
    About,
    Сontacts,
    Main,
    Questions
  },
  data() {
    return {
      subMenu: {name: '', subMenu: ''},
      isShow: { name: "Главная" },
      menu: [
        { name: "Главная", isShow: false, subMenu: [] },
        {
          name: "О нас",
          isShow: false,
          subMenu: [
            "Новости",
            "О нас",
            "Нормативное правовое обеспечение",
            "Наши партнеры",
            "Преподаватели",
            "Оплата",
            "Вакансии",
            "Отзывы"
          ]
        },
        {
          name: "Программы",
          isShow: false,
          subMenu: [
            "Акции и спецпредложения",
            "Тренинги и семинары",
            "Тренинги",
            "Переподготовка",
            "Повышение квалификации",
            "Профессиональное обучение"
          ]
        },
        { name: "Для организаций",
          isShow: false,
          subMenu: [
            "Корпоративное обучение",
            "Разработка дополнительных профессиональных программ"
          ]
        },
        { name: "Лицензии", isShow: false, subMenu: [] },
        { name: "Вопросы и ответы", isShow: false, subMenu: [] },
        { name: "Контакты", isShow: false, subMenu: [] }
      ],
      logo: require("../assets/img/logo.png")
    };
  },
  created() {
    setTimeout(this.checkCookie(), 180000);
  },
  methods: {
    checkCookie() {},
    showTable(i) {
      console.log(this.menu[i].name);
      this.isShow.name = this.menu[i].name;
    },
    selectSubMenu(i, j) {
      this.subMenu.subMenu = this.menu[i].subMenu[j];
      this.subMenu.name = this.menu[i].name
    }
  }
};
</script>

<style>
.slider {
  position: absolute;
  z-index: 1;
}
.menu ul {
  display: none;
  background-color: rgb(102, 71, 204);
  position: absolute;
  z-index: 2;
  top: 100%;
}
.menu li:hover ul {
  display: block;
}
.menu,
.menu ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.menu {
  height: 60px;
  font-size: 100%;
  font-family: 'Roboto';
  background-color: rgb(102, 71, 204);
  padding-left: 25px;
  min-width: 470px;
  width: 100%;
}
.menu li {
  float: left;
  position: relative;
  height: 100%;
  background-color: rgb(102, 71, 204);
  border-right: 1px solid black; 
  border-bottom: 1px solid black; 
}
.menu li a {
  display: block;
  padding: 6px;
  width: 150px;
  color: white;
  padding-top: 20px;
  text-decoration: none;
  text-align: center;
}
.menu ul li {
  float: none;
}
.menu li:hover {
  background-color: rgb(167, 62, 81);
}
.menu ul li:hover {
  background-color: rgb(167, 62, 81);
}
.logo {
  height: 120px;
  margin: 0px;
  float: right;
}

.main_block {
  display: table;
  width: 100%;
  height: 180px;
}
.block {
  background-color: white;
  height: 130px;
}
.title {
  line-height: 120px;
  font-family: "Anonymous Pro";
  font-size: 200%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.submenu{

}
.submenu li a{
  padding-top: 15px;
  padding-bottom: 15px;
  width: 300px;
  font-size: 90%;
}
</style>