
<template>
  <div class="block">
    <h1>СТАЖИРОВКА – индивидуальная форма повышения квалификации</h1>
    <p><b>СТАЖИРОВКА</b> – это «практика» на специально созданных
      или выделенных рабочих местах. Основная цель стажировки -
      формирование и закрепление профессиональных знаний, умений
      и навыков по полученной квалификации (профессии, специальности).
      Также стажировка незаменима при изучении передового опыта,
      приобретении профессиональных и организаторских навыков для
      специалистов, планирующих занять более высокую должность. 
    </p>
    <p>Зачем нужна стажировка?</p>
    <p> Когда-то приходится делать первые шаги в профессии,
      менять специализацию или место работы. Каким бы хорошим
      специалистом Вы не были, новая работа всегда требует к
      себе дополнительного внимания, знаний. Именно для того,
      чтобы проще было адаптироваться в новой обстановке,
      получить дополнительные знания по профессии имеется такой
      этап в карьерной лестнице, как стажировка.</p>
    <p>Стажировка предназначена для:
      <br> •	Осознавших, что для эффективной работы не хватает
      знаний, умений, навыков;
      <br> •	Почувствовавших потребность в совершенствовании
      себя, своих умений и навыков;
      <br> •	Готовых действовать и применять на практике новые
      возможности.</p> 
    <p> Эта форма обучения для всех желающих, имеющих среднее
      профессиональное или высшее образование. </p>
    <p><b>Дата открытия программ:</b> по мере набора групп
      или возможна индивидуальная форма </p>
    <p><b>Выпускные документы:</b> удостоверение о повышении
      квалификации установленного образца </p>
    <p>ДОКУМЕНТЫ, НЕОБХОДИМЫЕ ДЛЯ ПРОХОЖДЕНИЯ СТАЖИРОВКИ:
      <br> •	Паспорт;
      <br> •	Оригинал диплома об образовании или
        нотариально заверенная копия;
      <br> •	Медицинская справка 086-у;
      <br> •	4 фото 3х4; 
      <br> •	Согласие на обработку персональных данных </p>
    <p> Контакты: 
      <br> Телефоны:
      <br> E-mail:
      <br> Специалист по учебно-методической работе - </p>
  </div>
</template>
<script>
export default {
  name: "Internship",
  data() {
    return {
    };
  }
};
</script>

<style lang="scss" scoped>
.block{
  margin: 2%;
}
strong {
  font-family: "Anonymous Pro";
  font-size: 35px;
}
p {
  font-family: "Roboto";
  font-size: 26px;
  text-align: left;
}
br {
  text-align: left;
}
h1 { 
  font-family: "Anonymous Pro";
  font-size: 35px;
}
</style>
