
<template>
  <div class="block">
    <h1>ПРОФЕССИОНАЛЬНАЯ ПЕРЕПОДГОТОВКА -
      АЛЬТЕРНАТИВА ВТОРОМУ ВЫСШЕМУ ОБРАЗОВАНИЮ</h1>
    <p> Современные тенденции к повышению конкуренции на рынке труда
      требуют от специалиста глубоких теоретических знаний и
      практических навыков. Современных компетенций, сформированных
      в вузе, становится недостаточно для успешного карьерного роста,
      любой сотрудник должен постоянно заботиться о повышении уровня
      своей квалификации.</p>
    <p> Одним из наиболее востребованных видов обучения является
      профессиональная переподготовка. Профессиональная переподготовка
      подразумевает получение дополнительных знаний, необходимых для
      выполнения нового вида профессиональной деятельности.</p>
    <p> Преимуществом профессиональной переподготовки является подбор
      дисциплин (модулей, тем), необходимый только для данной сферы
      деятельности. Переподготовка дает отличный старт для карьерного
      роста и помогает существенно сократить организационные,
      временные, денежные расходы на адаптацию к новому виду
      профессиональной деятельности. </p>
    <p> Профессиональная переподготовка - это: 
      <br>•	Возможность получить качественные знания, умения и навыки
      <br>•	Занятия с ведущими экспертами и профессионалами отрасли
      <br>•	Новые идеи, возможности, контакты
      <br>•	Право на ведение новой профессиональной деятельности
      <br>•	Доступная стоимость, рассрочка оплаты за обучение
      <br>•	Удобный график обучения </p>
    <p><b>Дата открытия программ:</b> по мере набора групп
      или возможна индивидуальная форма </p>
    <p><b>Выпускные документы:</b> удостоверение о повышении
      квалификации установленного образца </p>
    <p>ДОКУМЕНТЫ, НЕОБХОДИМЫЕ ДЛЯ ПРОХОЖДЕНИЯ СТАЖИРОВКИ:
      <br> •	Паспорт;
      <br> •	Оригинал диплома об образовании или
        нотариально заверенная копия;
      <br> •	Медицинская справка 086-у;
      <br> •	4 фото 3х4; 
      <br> •	Согласие на обработку персональных данных </p>
    <p> Контакты: 
      <br> Телефоны:
      <br> E-mail:
      <br> Специалист по учебно-методической работе - </p>
  </div>
</template>
<script>
export default {
  name: "Retraining",
  data() {
    return {
    };
  }
};
</script>

<style lang="scss" scoped>
.block{
  margin: 2%;
}
strong {
  font-family: "Anonymous Pro";
  font-size: 35px;
}
p {
  font-family: "Roboto";
  font-size: 26px;
  text-align: left;
}
br {
  text-align: left;
}
h1 { 
  font-family: "Anonymous Pro";
  font-size: 35px;
}
</style>
