
<template>
  <div class="block">
    <p><b>ПОВЫШЕНИЕ КВАЛИФИКАЦИИ</b> – это обновление теоретических знаний и практических навыков, совершенствование
    умений в связи с постоянно повышающимися требованиями к квалификации работников. 
    На повышение квалификации имеет право лицо, имеющее среднее профессиональное или высшее образование.
    Работник проходит повышение квалификации не реже одного раза в три года в течение всей трудовой деятельности. 
    </p>
    <p><b>Дата открытия программ:</b> по мере набора групп </p>
    <p><b>Выпускные документы:</b> удостоверение о повышении квалификации установленного образца </p>
    <p> Документы, необходимые для прохождения повышения квалификации: 
      <br> •	Паспорт;
      <br> •	Оригинал диплома об образовании или нотариально заверенная копия;
      <br> •	4 фото 3х4; 
      <br> •	Согласие на обработку персональных данных </p>
    <p> Контакты: 
      <br> Телефоны:
      <br> E-mail:
      <br> Специалист по учебно-методической работе - </p>
  </div>
</template>
<script>
export default {
  name: "Training",
  data() {
    return {
    };
  }
};
</script>

<style lang="scss" scoped>
.block{
  margin: 2%;
}
strong {
  font-family: "Anonymous Pro";
  font-size: 35px;
}
p {
  font-family: "Roboto";
  font-size: 26px;
  text-align: left;
}
br {
  text-align: left;
}
h1 { 
  font-family: "Anonymous Pro";
  font-size: 35px;
}
</style>
